@using POS.Entity.Entities;
@using POS.Util.Model;
@model CategoryModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<script src="~/Scripts/jsCategory.js"></script>
<div class="col-lg-12">
    <h2 class="pad_1per ">Category <button id="btnNewCStore" title="Add New Store!" class="btn btn-default pull-right mar_top_1per bckcolor_green" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></h2>
</div>
<div class="col-lg-12 mgn_0">
    <div class="col-lg-3 noPadBrd">
        <div class="input-group col-lg-12 ">
            <input id="txtCategory" type="text" class="form-control col-lg-12 stre_maxWth  ht40" placeholder="Search for  Category ID \ Category Description">

        </div>
        <div class="ovrflow">
            @if (Model.Category != null)
            {
                foreach (tbl_Category category in Model.Category)
                {
                <div class="locData pad_1per bg_blue">
                    <a class="pointer MasterCStore" data-CategoryID="@category.CategoryID" data-CategotyDesc="@category.CategoryDesc"><span class="">@category.CategoryDesc</span></a>
                </div>
                }
                <small id="NoRecords" class="lead" style="display:none">
                    No records found.
                </small>
            }
            else
            {
                <small class="lead">
                    No records found.
                </small>
            }
        </div>
    </div>
    <div id="CategoryDetails" class="col-lg-9 noPadBrd">
        @Html.Partial("~/Views/Category/Partial/_CategoryDetailsPartial.cshtml", Model)
    </div>

</div>



