@using POS.Util.Model;
@model TransactionModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").datepicker();
        $("#MaterialIDBarcode").keyup(function (e) {

            var key = e.which;
            if (key == 13)  // the enter key code
            {
                var VendorID = $('#fltrVendor').val();
                var LocID = $('#fltrLocation').val();
                var StorageID = $('#fltrStorage').val();

                if (VendorID != "" && LocID != "" && StorageID != "") {

                    if ($(this).val().length > 0) {

                        var MatrialOrBarcode = $(this).val();


                        var Code = $(this).val().substring(0, 2);
                        if (Code == "20") {
                            var EAN13 = $(this).val().substring(2, 7);
                            var KG = $(this).val().substring(7, 9);
                            var Weight = $(this).val().substring(9, 12);
                            if (KG.indexOf('0') == 0) {
                                KG = KG.replace('0', '');
                            }
                            $.ajax({
                                url: '../ReturnToSupplier/GetEAN',
                                data: { 'EAN13': EAN13, 'VendorID': VendorID, 'UOM': 'KG' },
                                type: "post",
                                cache: false,
                                success: function (data) {
                                    if (data.length > 0) {
                                        $('#tblReturntoSupplierBody').append(data).find('tr:last').find('input').val(KG + "." + Weight).attr('readonly', true);
                                        InsertAppend();
                                        $('#MaterialIDBarcode').val("");
                                    }
                                    else {
                                        alert('Please Enter Valied BarCode...!!!');
                                        $('#MaterialIDBarcode').val("");
                                    }

                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    var type = BootstrapDialog.TYPE_WARNING;
                                    BootstrapDialog.show({
                                        type: type,
                                        title: 'Error',
                                        message: 'Error in geting data EAN13 from server. Please try again.'
                                    });
                                }
                            });

                        }
                        else {

                            $.ajax({
                                url: '../ReturnToSupplier/GetMaterial',
                                data: { 'MatrialOrBarcode': MatrialOrBarcode, 'VendorID': VendorID },
                                type: "post",
                                cache: false,
                                success: function (data) {
                                    var isList = $(data).find('#MaterialIsList').text.length;
                                    if (data.length >= 1) {
                                        $('#ModalMaterialBody').html(data);
                                        $('#ModalMaterial').modal('show');
                                    }
                                    else {
                                        $('#tblReturntoSupplierBody').append(data);

                                    }

                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    var type = BootstrapDialog.TYPE_WARNING;
                                    BootstrapDialog.show({
                                        type: type,
                                        title: 'Error',
                                        message: 'Error in geting data from server. Please try again.'
                                    });
                                }
                            });
                        }
                    }
                    else {
                        alert('Please Enter BarCode OR Materials...!!!');
                    }
                }
                else {
                    alert('Please Select Location and Vendor And Storage');
                }
            }




        });
        $("#fltrLocation").change(function () {

            //get subcategory
            var id = $('#fltrLocation').val();
            //$.ajax({
            //    url: '../Enquiry/GetSubCategory',
            //    data: { 'LocationID': id },
            //    type: "post",
            //    cache: false,
            //    success: function (data) {
            //        $('#dvStorage').html(data);
            //    },
            //    error: function (xhr, ajaxOptions, thrownError) {
            //        alert("Error in geting data Storage from server. Please try again.");
            //    }
            //});

            //Get storage
            $.ajax({
                url: '../ReturnToSupplier/GetStorage',
                data: { 'LocationID': id },
                type: "post",
                cache: false,
                success: function (data) {
                    $('#dvStorage').html(data);
                    var hidStorageID = $('#hidStorageID').val();
                    if (hidStorageID != "") {
                        $('#fltrStorage').val($('#hidStorageID').val());
                        CheckRows();
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var type = BootstrapDialog.TYPE_WARNING;
                    BootstrapDialog.show({
                        type: type,
                        title: 'Error',
                        message: 'Error in geting data Storage from server. Please try again.'
                    });
                }
            });

            //get temp table details
            $.ajax({
                url: '../ReturnToSupplier/GetTempDetails',
                data: { 'LocationID': id, 'Type': "TRTS" },
                type: "post",
                cache: false,
                success: function (result) {
                    $('#tblReturntoSupplierBody').html(result);
                    var DetailsTempMasterID = $('#TempMasterID').val();
                    $('#TempMasterIDFirst').val(DetailsTempMasterID);
                    if (result.length >= 1) {
                        var hidVendorID = $('#hidVendorID').val();

                        $('#fltrVendor').val(hidVendorID);

                    }
                    CheckRows();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var type = BootstrapDialog.TYPE_WARNING;
                    BootstrapDialog.show({
                        type: type,
                        title: 'Error',
                        message: 'Error in geting data Get Temp Details from server. Please try again.'
                    });
                }
            });
        });

        $(document).on('click', ".btnselectEAN", function (e) {
            var id = $(this).attr('id');

            var MatrialOrBarcode = id;
            var VendorID = $('#fltrVendor').val();
            $.ajax({
                url: '../ReturnToSupplier/GetMaterial',
                data: { 'MatrialOrBarcode': MatrialOrBarcode, 'VendorID': VendorID },
                type: "post",
                cache: false,
                success: function (data) {
                    var isList = $(data).find('#MaterialIsList').text.length;
                    $('#ModalMaterial').modal('hide');
                    $('#tblReturntoSupplierBody').append(data).find('tr:last').find('input').focus();
                    InsertAppend();
                    $('#MaterialIDBarcode').val("");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var type = BootstrapDialog.TYPE_WARNING;
                    BootstrapDialog.show({
                        type: type,
                        title: 'Error',
                        message: 'Error in geting data from server. Please try again.'
                    });
                }
            });
        });
        $(document).on('keyup', ".txtFoucs", function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                if ($(this).val() == "") {
                    alert('Please Enter Quantity...!!!');
                }
                else {
                    var intRegex = /^\d+$/;
                    var floatRegex = /^((\d+(\.\d *)?)|((\d*\.)?\d+))$/;
                    var Value = $(this).val();
                    if (intRegex.test(Value) || floatRegex.test(Value)) {
                        if (Value.length > 0) {
                            InsertAppend();
                        }
                        $('#MaterialIDBarcode').focus();
                    }
                    else {
                        alert('Please Enter Valid Number...!!!');
                        $(this).focus();
                        $(this).val("");
                    }
                }
            }
        });
        $(window).keypress(function (event) {
            if (event.which == 13) {
                event.preventDefault();
            }
        });

        $('#tblReturntoSupplierBody').on('click', '#Deleterow', function () {
            var data = $(this).closest('tr').text();
            var CurrentTextVal = $(this).closest('tr').find('input').val();
            var LocationID = $('#fltrLocation').val();
            $(this).closest('tr').remove();
            $.ajax({
                url: '../PhysicalInventory/DeleteRow',
                data: { 'data': data, 'inputval': CurrentTextVal, 'LocationID': LocationID },
                type: "post",
                cache: false,
                success: function (result) {
                    //  alert(result + ' Deleted');
                    CheckRows();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var type = BootstrapDialog.TYPE_WARNING;
                    BootstrapDialog.show({
                        type: type,
                        title: 'Error',
                        message: 'Error in geting data Storage from server. Please try again.'
                    });
                }
            });

        });
        function OnSuccess(Status, data) {
            alert(status + data);
            window.location.reload();
        }

        $('#BtnSubmit').click(function () {
            var TempMasterID = $('#TempMasterIDFirst').val();
            if (TempMasterID == "") {
                TempMasterID = $('#TempMasterID').val();
                alert('Inside');
            }
            $('#BtnSubmit').prop('disabled', false);
            if (TempMasterID != "") {
                $.ajax({
                    url: '../ReturnToSupplier/Accept',
                    data: { 'ID': TempMasterID },
                    type: "post",
                    cache: false,
                    success: function (result) {
                        var type = BootstrapDialog.TYPE_SUCCESS;
                        BootstrapDialog.show({
                            type: type,
                            closable: false,
                            title: 'Insert Success',
                            message: result + ' Inserted Successfully....!!!!',
                            buttons: [{
                                label: 'Ok',
                                action: function (dialogRef) {
                                    dialogRef.close();
                                }
                            }],
                        });
                        window.location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        window.location.reload();
                        var type = BootstrapDialog.TYPE_WARNING;
                        BootstrapDialog.show({
                            type: type,
                            title: 'Error',
                            message: 'Error in geting data Submit Button Storage from server. Please try again.'
                        });
                    }

                });
            }

            $('#ProcessingData').modal('show');
        });

        $('#reload').click(function () {
            Reload();
        });

        function Reload() {
            // window.location.reload();
        }

        function InsertAppend() {

            var AppendData = $('#tblReturntoSupplierBody').find('tr:last').text();
            var inputval = $('#tblReturntoSupplierBody').find('tr:last').find('input').val();
            if (inputval == null || inputval == "") {
                inputval = 0;
            }
            var LocationID = $('#fltrLocation').val();
            var StorageID = $('#fltrStorage').val();
            var Vendor = $('#fltrVendor').val();
            var TempMasterID = $('#TempMasterIDFirst').val();
            if (AppendData.length > 0) {
                $.ajax({
                    url: '../ReturnToSupplier/InsertTempDataReturnToSupplier',
                    data: { 'data': AppendData, 'inputval': inputval, 'LocationID': LocationID, 'StorageID': StorageID, 'Vendor': Vendor, 'TempMasterID': TempMasterID },
                    type: "post",
                    cache: false,
                    success: function (result) {
                        // alert(result + ' Inserted');
                        $('#TempMasterIDFirst').val(result);
                        CheckRows();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        var type = BootstrapDialog.TYPE_WARNING;
                        BootstrapDialog.show({
                            type: type,
                            title: 'Error',
                            message: 'Error in geting data Storage from server. Please try again.'
                        });
                    }
                });
            }
            else {
                var type = BootstrapDialog.TYPE_WARNING;
                BootstrapDialog.show({
                    type: type,
                    title: 'Error',
                    message: 'Error'
                });
            }
        }

        //function CheckRows() {
        //    var Rows = $('#tblReturntoSupplierBody').children('tr').length;
        //    if (Rows >= 1) {
        //        $('#fltrVendor').prop("disabled", true);
        //        $('#fltrLocation').prop("disabled", true);
        //        $('#fltrStorage').prop("disabled", true);
        //        $('#BtnSubmit').prop("disabled", false);
        //        var hidStorageID = $('#hidStorageID').val();
        //        $('#fltrStorage').val($('#hidStorageID').val());
        //    }
        //    else {
        //        $('#fltrVendor').prop("disabled", false);
        //        $('#fltrLocation').prop("disabled", false);
        //        $('#fltrStorage').prop("disabled", false);
        //        $('#BtnSubmit').prop("disabled", true);
        //    }
        //}
    });

</script>

<div class="container">
    <span class="pad_1per">Transactions: Return to Supplier</span>
    <div class="col-lg-12 row">
        <div class="pull-left col-lg-2">
            Vendor :
            @Html.DropDownList("fltrVendor", (IEnumerable<SelectListItem>)ViewBag.Vendor, "--Select--", new { @class = "form-control" })
        </div>
        <div class="pull-left  col-lg-3">
            Location :
            @Html.DropDownList("fltrLocation", (IEnumerable<SelectListItem>)ViewBag.Location, "--Select--", new { @class = "form-control" })
        </div>
        <div style="">
            <input type="hidden" id="TempMasterIDFirst" />
        </div>
        <div class="pull-left col-lg-2" id="dvStorage">
            StorageID
            <select style="width: 144px;" class="form-control">
                <option>--Select--</option>
            </select>
        </div>
        <div class="pull-left col-lg-3">
            Material ID / Barcode  :
            <input type="text" id="MaterialIDBarcode" class="upp_case form-control" />
        </div>
        <div class="pull-left col-lg-2">
            <strong>Date : </strong>
            <input type="text" id="MaterialIDBarcode" class="datepicker form-control" disabled="disabled" value="@DateTime.Now.ToString("MM/dd/yyyy")" />
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" style="top:5px">
        <div id="buttons" class="col-lg-12 row col-sm-12 col-xs-12 col-md-12">
            <div id="buttons" class="col-lg-offset-6">
                <input type="submit" value="Accept" class="btn btn-primary btn-lg btnblock-class" id="BtnSubmit" style="margin-top: 21px;" />
                <input type="button" id="btnAccpet" class="btn btn-danger btn-lg btnblock-class" value="Clear" />
                @Html.ActionLink("Print", "Index", "POSReport", new { name = "ReturnToSupplier", Report = "ReturnToSupplier" }, new { @class = "btn btn-success btn-lg btnblock-class" })
            </div>
        </div>
    </div>
    @*<div id="ProcessingData" class="modal fade" role="dialog">
            <div class="modal-dialog" style="width:50%;">

                <!-- Modal content-->
                <div class="modal-content">
                    <div id="ModalMaterialBody" class="modal-body">
                        Processing data...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="reload">Close</button>
                    </div>
                </div>

            </div>
        </div>*@
    <div id="dvReturntoSupplier" class="col-lg-12 row" style="top:10px;height:400px;overflow:scroll;background-color:white;">
        <div style="display:none" id="ExtraValues">
            <input type="hidden" id="txtLocationID" name="LocationID" />
            <input type="hidden" id="StorageID" name="StorageID" />
            <input type="hidden" id="VendorID" name="VendorID" />
        </div>
        <table id="tblReturntoSupplier" class="table table-striped" style="border:1px solid #dddddd;">
            <thead class="panel-heading tblHeader">
                <tr>
                    <th class="panel-title"><strong>Delete</strong></th>
                    <th class="panel-title"><strong>MaterialID</strong></th>
                    <th class="panel-title hidden-md hidden-sm hidden-xs"><strong>Material Desc</strong></th>
                    <th class="panel-title"><strong>UOM</strong></th>
                    <th class="panel-title"><strong>Qty</strong></th>
                    <th class="panel-title hidden-md hidden-sm hidden-xs"><strong>Price</strong></th>
                </tr>
            </thead>
            <tbody id="tblReturntoSupplierBody" class="tblBody"></tbody>
        </table>
    </div>
</div>
<!--Material Modal -->
<div id="ModalMaterial" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:50%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header orange-bg col-lg-12">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center white">Return to supplier Material Details</h3>
            </div>
            <div id="ModalMaterialBody" class="modal-body">
                Loading...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
